body {
    font-family: sans-serif, Arial;
}

#header_first {
    display: table-row;
    border-spacing: 10px;
}

#header_first_row {
    display: table-row;
}


#header_first_left,#header_first_center, #header_first_right {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width:33.333%;
}


#header_first_left_1 {
    length:2.5%;
    width:100%;
}


.header_first_right_search {
    border-radius:1em;
    line-height:2em;
}


#header {
    display:table;
    background: url("image/campus.jpg") top left;
    width:100%;
}

.header_first_right_search {
    background: url("image/search.jpg") no-repeat top left;
    padding-left: 35px;
}

.container-fluid {
    display: grid;
    margin: 10px 0px 0px 0px;

}

row {
    border: 0;
    height: 0;
    padding-bottom: 100%;
    width:100%;
}

.col_1 {
    height: 0;
    padding-bottom: 100%;
    background-color: burlywood;
}

.col_2 {
    height: 0;
    padding-bottom: 50%;
    background-color: cadetblue;
}

.col_3 {
    height: 0;
    padding-bottom: 50%;
    border-collapse: collapse;
    background-color: deepskyblue;
}

.col_4 {
    height: 0;
    padding-bottom: 20%;
    border-collapse: collapse;
    background-color: lavenderblush;

}


.col_5 {
    height: 0;
    padding-bottom: 50%;
    background-color: #f0ffff;
}

.col_6 {
    height: 0;
    padding-bottom: 50%;
    background-color: #6495ed;
}
.col_7 {
    height: 0;
    padding-bottom: 20%;
    background-color: #6495ed;
}